@{
    ViewBag.Title = "GioiThieu";
}

<h4>Giới Thiệu</h4>
<p><b>Thegioinem.com- CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ HPH</b></p>
<p>Thegioinem.com với sứ mệnh bán giấc ngủ ngon cho mọi người, mọi nhà bằng việc cung cấp các sản phẩm chăn drap gối nệm, nội thất và giải pháp phòng ngủ phù hợp cho từng đối tượng khách hàng với sản phẩm đa dạng và giá cả phù hợp. Chúng tôi chuyên phân phối các sản phẩm Chăn- Ga -Gối- Nệm cao cấp của các thương hiệu nổi tiếng như: Kymdan, Liên Á, Đồng Phú, Vạn Thành, TATANA, Kim Cương, Dunlopillo, Edena, Everon, Cuscino, Ưu Việt,...</p>
<img src="~/Content/HinhAnh/GioiThieu1.jpg"/>
<br />
<p>Công ty TNHH HPH thành lập từ tháng 10/2009, với mục đích ban đầu là hỗ trợ khách hàng mua được những sản phẩm với mức giá phù hợp. Tính đến nay đã trãi qua 10 năm, một chặng đường hình thành duy trì và phát triển không phải là dài nhưng cũng không hề ngắn của Công ty, theo thời gian với những con người gắn kết cùng hệ giá trị: Thân thiện- Trách nhiệm- Trung thực và chuyên nghiệp Thegioinem.com đã không ngừng phát triển vươn lên trở thành hệ thống phân phối sản phẩm chăn-drap-gối-nệm, nội thất, dịch vụ giải pháp dành cho phòng ngủ hàng đầu tại Việt Nam như hiện nay.</p>
<img src="~/Content/HinhAnh/GioiThieu2.jpg"/>