@{
    ViewBag.Title = "LienHe";
}

<h4>Liên Hệ</h4>
<br />
<p><i>Mọi chi tiết thắc mắc hay đóng góp ý kiến xin liên hệ cho chúng tôi theo:</i></p>
<p><b>Công ty TNHH Thương Mại Dịch Vụ HPH - Thegioinem.com</b></p>

<p>- Địa chỉ: 123 - 456 - 789, Phường Tây Thạnh, Quận Tân Phú, TP. HCM</p>
<p>- Điện thoại: 0123456789 - 0987654321 - 0147258369</p>
<p>- MST: 0123456789</p>
<p>- STK: 0987654321</p>
<p>- Tại: Ngân hàng TMCP Sài Gòn - CN Tân Bình - Hồ Chí Minh (SCB bank)</p>
<p>- Email: lienhe@thegioinem.com</p>
<p>- Website: www.thegioinem.com</p>
<p>- Fanpage: https://www.facebook.com/thegioinemcom/</p>